In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [2]:
dataset=pd.read_csv("insurance_pre.csv")
dataset

      age     sex     bmi  children smoker      charges
0      19  female  27.900         0    yes  16884.92400
1      18    male  33.770         1     no   1725.55230
2      28    male  33.000         3     no   4449.46200
3      33    male  22.705         0     no  21984.47061
4      32    male  28.880         0     no   3866.85520
...   ...     ...     ...       ...    ...          ...
1333   50    male  30.970         3     no  10600.54830
1334   18  female  31.920         0     no   2205.98080
1335   18  female  36.850         0     no   1629.83350
1336   21  female  25.800         0     no   2007.94500
1337   61  female  29.070         0    yes  29141.36030

[1338 rows x 6 columns]

In [3]:
dataset=pd.get_dummies(dataset,drop_first=True)
dataset

      age     bmi  children      charges  sex_male  smoker_yes
0      19  27.900         0  16884.92400         0           1
1      18  33.770         1   1725.55230         1           0
2      28  33.000         3   4449.46200         1           0
3      33  22.705         0  21984.47061         1           0
4      32  28.880         0   3866.85520         1           0
...   ...     ...       ...          ...       ...         ...
1333   50  30.970         3  10600.54830         1           0
1334   18  31.920         0   2205.98080         0           0
1335   18  36.850         0   1629.83350         0           0
1336   21  25.800         0   2007.94500         0           0
1337   61  29.070         0  29141.36030         0           1

[1338 rows x 6 columns]

In [4]:
dataset.columns

Index(['age', 'bmi', 'children', 'charges', 'sex_male', 'smoker_yes'], dtype='object')

In [5]:
independent=dataset[['age', 'bmi', 'children','sex_male', 'smoker_yes']]
independent

      age     bmi  children  sex_male  smoker_yes
0      19  27.900         0         0           1
1      18  33.770         1         1           0
2      28  33.000         3         1           0
3      33  22.705         0         1           0
4      32  28.880         0         1           0
...   ...     ...       ...       ...         ...
1333   50  30.970         3         1           0
1334   18  31.920         0         0           0
1335   18  36.850         0         0           0
1336   21  25.800         0         0           0
1337   61  29.070         0         0           1

[1338 rows x 5 columns]

In [6]:
dependent=dataset[['charges']]
dependent

          charges
0     16884.92400
1      1725.55230
2      4449.46200
3     21984.47061
4      3866.85520
...           ...
1333  10600.54830
1334   2205.98080
1335   1629.83350
1336   2007.94500
1337  29141.36030

[1338 rows x 1 columns]

In [7]:
from sklearn.model_selection import GridSearchCV
from sklearn.tree import DecisionTreeRegressor
param_grid = {'criterion':['mse','mae','friedman_mse'],'max_features': ['auto','sqrt','log2'],'splitter':['best','random']}

grid = GridSearchCV(DecisionTreeRegressor(), param_grid, refit = True, verbose=3,n_jobs=-1)

# fitting the model for grid search
grid.fit(independent,dependent)

C:\Users\Dell\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:1978: FutureWarning: The default value of cv will change from 3 to 5 in version 0.22. Specify it explicitly to silence this warning.
  warnings.warn(CV_WARNING, FutureWarning)
[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.

Fitting 3 folds for each of 18 candidates, totalling 54 fits

[Parallel(n_jobs=-1)]: Done  24 tasks      | elapsed:   58.8s
[Parallel(n_jobs=-1)]: Done  54 out of  54 | elapsed:  1.2min finished

GridSearchCV(cv='warn', error_score='raise-deprecating',
             estimator=DecisionTreeRegressor(criterion='mse', max_depth=None,
                                             max_features=None,
                                             max_leaf_nodes=None,
                                             min_impurity_decrease=0.0,
                                             min_impurity_split=None,
                                             min_samples_leaf=1,
                                             min_samples_split=2,
                                             min_weight_fraction_leaf=0.0,
                                             presort=False, random_state=None,
                                             splitter='best'),
             iid='warn', n_jobs=-1,
             param_grid={'criterion': ['mse', 'mae', 'friedman_mse'],
                         'max_features': ['auto', 'sqrt', 'log2'],
                         'splitter': ['best', 'random']},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring=None, verbose=3)

In [8]:
re=grid.cv_results_
print("The R_score value for best parameter{}:".format(grid.best_params_))

The R_score value for best parameter{'criterion': 'mse', 'max_features': 'log2', 'splitter': 'best'}:

In [9]:
table=pd.DataFrame.from_dict(re)

In [10]:
table

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_criterion,param_max_features,param_splitter,params,split0_test_score,split1_test_score,split2_test_score,mean_test_score,std_test_score,rank_test_score
0,0.016990,1.413493e-03,7.491355,1.109536e-01,mse,auto,best,"{'criterion': 'mse', 'max_features': 'auto', '...",0.701875,0.648747,0.695907,0.682176,0.023763,7
1,0.011326,1.884470e-03,2.529765,3.569148e+00,mse,auto,random,"{'criterion': 'mse', 'max_features': 'auto', '...",0.706503,0.628721,0.700088,0.678437,0.035252,9
2,0.009994,1.946680e-07,0.005997,6.257699e-07,mse,sqrt,best,"{'criterion': 'mse', 'max_features': 'sqrt', '...",0.714840,0.710821,0.681381,0.702347,0.014916,4
3,0.009661,4.713704e-04,0.005330,4.709772e-04,mse,sqrt,random,"{'criterion': 'mse', 'max_features': 'sqrt', '...",0.677869,0.722154,0.603306,0.667776,0.049041,12
4,0.010327,4.711456e-04,0.005664,4.711459e-04,mse,log2,best,"{'criterion': 'mse', 'max_features': 'log2', '...",0.720635,0.731932,0.681581,0.711382,0.021572,1
5,0.010327,1.246364e-03,0.005664,4.713142e-04,mse,log2,random,"{'criterion': 'mse', 'max_features': 'log2', '...",0.606288,0.595258,0.600752,0.600766,0.004503,16
6,0.247846,1.511305e-02,0.005331,4.711457e-04,mae,auto,best,"{'criterion': 'mae', 'max_features': 'auto', '...",0.690389,0.721056,0.675937,0.695794,0.018812,5
7,0.157236,3.736059e-02,0.032647,3.839766e-02,mae,auto,random,"{'criterion': 'mae', 'max_features': 'auto', '...",0.699619,0.718959,0.694221,0.704266,0.010620,3
8,0.180887,2.911325e-02,0.005997,8.161454e-04,mae,sqrt,best,"{'criterion': 'mae', 'max_features': 'sqrt', '...",0.577771,0.683632,0.601410,0.620937,0.045370,15
9,0.133916,1.629869e-02,0.006997,2.160385e-03,mae,sqrt,random,"{'criterion': 'mae', 'max_features': 'sqrt', '...",0.700839,0.653326,0.652029,0.668731,0.022710,11
10,0.131586,5.247121e-03,0.006996,1.411976e-03,mae,log2,best,"{'criterion': 'mae', 'max_features': 'log2', '...",0.695619,0.687917,0.734634,0.706056,0.020450,2
11,0.128254,2.449805e-02,0.005997,8.155614e-04,mae,log2,random,"{'criterion': 'mae', 'max_features': 'log2', '...",0.593259,0.716263,0.578129,0.629217,0.061860,14
12,0.011993,1.946680e-07,0.005664,4.714827e-04,friedman_mse,auto,best,"{'criterion': 'friedman_mse', 'max_features': ...",0.702311,0.665177,0.711265,0.692918,0.019954,6
13,0.009994,2.973602e-07,0.004998,5.619580e-07,friedman_mse,auto,random,"{'criterion': 'friedman_mse', 'max_features': ...",0.692226,0.691723,0.646576,0.676842,0.021402,10
14,0.010327,4.710894e-04,0.006330,4.710332e-04,friedman_mse,sqrt,best,"{'criterion': 'friedman_mse', 'max_features': ...",0.683990,0.713511,0.644804,0.680768,0.028142,8
15,0.009994,8.162427e-04,0.005330,4.713142e-04,friedman_mse,sqrt,random,"{'criterion': 'friedman_mse', 'max_features': ...",0.560690,0.692164,0.540973,0.597942,0.067109,17
16,0.010660,9.420103e-04,0.007995,2.159355e-03,friedman_mse,log2,best,"{'criterion': 'friedman_mse', 'max_features': ...",0.563543,0.640699,0.716352,0.640198,0.062385,13
17,0.008995,4.052337e-07,0.005330,4.714266e-04,friedman_mse,log2,random,"{'criterion': 'friedman_mse', 'max_features': ...",0.667530,0.661875,0.436531,0.588645,0.107586,18

In [11]:
age_input=float(input("Age:"))
bmi_input=float(input("BMI:"))
children_input=float(input("Children:"))
sex_male_input=int(input("Sex Male 0 or 1:"))
smoker_yes_input=int(input("Smoker Yes 0 or 1:"))

Age:32
BMI:43
Children:2
Sex Male 0 or 1:0
Smoker Yes 0 or 1:1

In [12]:
Future_Prediction=grid.predict([[age_input,bmi_input,children_input,sex_male_input,smoker_yes_input]])
print("Future_Prediction={}".format(Future_Prediction))

Future_Prediction=[42112.2356]